<mat-card>
  <mat-card-header>
    <mat-card-title>USER</mat-card-title>
    <mat-card-subtitle>Login</mat-card-subtitle>
  </mat-card-header>
  <img
    matCardImage
    src="https://cdni.iconscout.com/illustration/premium/thumb/user-showing-user-login-page-in-website-or-application-1886527-1597938.png"
  />
  <form
    class="example-form"
    #loginform="ngForm"
    (submit)="ProdceedLogin(loginform)"
  >
    <mat-card-content>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Login Name</mat-label>
        <input
          matInput
          required
          placeholder="User Name"
          name="username"
          ngModel
        />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          required
          placeholder="Password"
          type="password"
          name="password"
          ngModel
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-raised-button type="submit" color="primary">Login</button>
      <button mat-raised-button color="accent">Register</button>
    </mat-card-actions>
  </form>
</mat-card>
