<mat-card>
  <mat-card-header>
    <mat-card-title>USER</mat-card-title>
    <mat-card-subtitle>Login</mat-card-subtitle>
  </mat-card-header>
  <img
    matCardImage
    src="https://cdni.iconscout.com/illustration/premium/thumb/user-showing-user-login-page-in-website-or-application-1886527-1597938.png"
  />
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Login Name</mat-label>
        <input matInput placeholder="User Name" value="" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" value="" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="start">
    <button mat-raised-button type="submit" color="primary">Login</button>
    <button mat-raised-button color="accent">Register</button>
  </mat-card-actions>
</mat-card>
